* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a,
p,
span {
  font-family: "Noto Serif", serif;
}

.app {
  min-height: 100vh;
  padding: 1rem;
  background-image: linear-gradient(-20deg, rgb(28, 25, 43), rgb(10, 46, 72));
  width: 100%;
  max-width: 500px;
  overflow: hidden;
  position: relative;
  border-radius: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.app audio {
  display: none;
}

.logo {
  color: rgb(157, 133, 74);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  text-align: right;
  letter-spacing: -0.02em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.heading {
  color: #fff;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  padding: 0 2rem;
}

.heading .pink {
  color: salmon;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.help-btn {
  border: none;
  background: rgba(95, 69, 69, 0.1);
  padding: 3rem;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transform: translateY(0px);
  transition: 0.5s;
}

.help-btn>img {
  width: 130px;
  height: 130px;
}

.help-btn:hover #Ellipse_2 {
  transform: translateY(10px);
}

.intro-page {
  min-height: calc(100vh - 4rem);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.intro-page .heading {
  padding: 10%;
  line-height: 2;
}

.intro-page .heading2 {
  font-size: 1.4rem;
  line-height: 1.4 !important;
  padding-bottom: 15% !important;
  letter-spacing: 0.02em;
}

.player-page {
  position: relative;
}

.player-page,
.final-page {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  min-height: calc(100vh - 4rem);
}

.sound-icon {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1.2rem;
  top: 2rem;
  z-index: 100;
}

#sound-on,
#sound-off {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  cursor: pointer;
}

.sound-icon #sound-off {
  display: none;
}

.svg-box {
  height: 310px;
  position: relative;
  top: 0%;
}

.svg-box img {
  width: 50%;
  margin-bottom: 1rem;
}

.svg-box>div {
  position: relative;
  height: 250px;
}

.svg-box #lamp {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
}

.svg-box #circle {
  animation-delay: 0s;
  animation-name: light_anim;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  position: absolute;
  /* top: -95%; */
  margin: auto;
  background-image: linear-gradient(0deg, rgb(30, 66, 92), rgb(65, 57, 94));
  border-radius: 50%;
  height: 220px;
  width: 220px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  opacity: 0.8;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.15);
}

@keyframes light_anim {
  0% {
    transform: translateX(-50%) scale(1);
  }

  50% {
    transform: translateX(-50%) scale(1.1);
  }

  100% {
    transform: translateX(-50%) scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#calmer-text {
  height: 140px;
  min-height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-delay: 0s;
  animation-name: fadeIn;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  font-size: 1.2rem;
  z-index: -1;
}

.player-box {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

#durationText {
  color: #fff;
  font-size: 0.8rem;
  font-family: "Montserrat", sans-serif;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  line-height: 2rem;
  padding: 0 1rem;
  border-radius: 10px;
  margin: auto;
  transition: 1s;
  transition: 2s;
  opacity: 1;
  animation-delay: 0s;
  animation-duration: 0s;
  margin-bottom: 2rem;
}

.buttons {
  padding-bottom: 10%;
}

.speedButton,
#calmer-text,
.okayBtn {
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.speedButton {
  border: none;
  background: transparent;
  font-size: 0.8rem;
  color: #fff;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  margin-bottom: 10%;
  cursor: pointer;
  padding: 1rem;
}

.speedButton:active {
  border: none;
}

.speed-svg {
  width: 15px;
  display: block;
  margin: 0 auto 10px;
}

.speedButton:hover,
.speed-svg:hover {
  opacity: 0.8;
}

#slowerButton {
  transform: rotate(180deg);
}

.okayBtn {
  border: none;
  display: block;
  color: #fff;
  line-height: 2.5;
  padding: 0 3rem;
  border-radius: 100px;
  font-size: 1.1rem;
  background: rgb(157, 133, 74);
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.02em;
  margin: auto;
  cursor: pointer;
}

.fist-icon {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  max-width: 100px;
}

.fist {
  width: 100%;
  padding: 0.3rem;
  margin: auto;
}

.fist-icon-bg {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.final-page {
  color: #fff;
  animation: fadeInOut 1s ease;
}

.final-page .heading {
  height: 110px;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
}

.text-box {
  padding: 20% 10%;
}

.text-box .msg {
  display: block;
  padding-bottom: 15%;
  font-size: 14px;
  color: rgb(199, 175, 112);
  line-height: 1.5;
}

.text-box h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  letter-spacing: -0.02em;
  font-weight: 400;
  color: rgb(157, 133, 74);
}

.text-box li {
  list-style: none;
  clear: both;
}

.text-box li span {
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.04em;
  font-family: "Montserrat", sans-serif;
}

.text-box li span:first-child {
  float: left;
}

.text-box li span:nth-child(2n) {
  float: right;
  display: block;
  width: 100px;
  text-align: left;
}